<div class="title-header-container">
  <div class="piquette-header">
    <%= image_tag("recommendation.svg", size: "40", alt: "suggestion", class:"icon-image") %>
    <h2>Suggestions</h2>
  </div>
</div>

<% if @bottles == [] %>
  <div class="bottle-modal-cta bloup" >
    <%= link_to "Aucun vin ne correspond", search_path %>
  </div>
<% else %>
  <!-- resultat de recherche -->
  <div>
    <% @bottles.each do |bottle| %>
    <div type="button" data-toggle="modal" class="clickable" data-target="#modal<%= bottle.id %>">
      <div class="piquette-wrapper">

        <div class="piquette-card">
          <div class="piquette-card-title">
            <h3><%= bottle.title.capitalize %></h3>
            <h4><%= bottle.winery.name.upcase%></h4>
            <p><%= bottle.region.name%></p>
          </div>

          <div class="piquette-card-content">

            <div class="piquette-card-content-item">
              <p><strong>Couleur</strong></p>
              <div class="piquette-card-content-item-color <%= bottle.color.name %>"></div>
            </div>

            <div class="piquette-card-content-item">
              <p><strong>Millésime</strong></p>
              <h5><%= bottle.year %></h5>
            </div>

            <div class="piquette-card-content-item">
              <p><strong>Maturation</strong></p>
              <% if bottle.best_after <= Date.today.year && bottle.best_before > Date.today.year %>
                <h5>👍</h5>
              <% elsif bottle.best_before < Date.today.year %>
                <h5>👎</h5>
              <% elsif bottle.best_after > Date.today.year %>
                <h5>✋</h5>
              <% end %>
            </div>

            <div id="bottle-wish-heart-<%= bottle.id %>" class="bottle_wish_heart">
              <%= render 'wishes/heart_button', bottle: bottle %>
            </div>

          </div>

        </div>

      </div>

    </div>
  </div>
  <!-- fin de résultat -->
<!-- MODALE // NE PAS TOUCHER -->

<div class="modal bottle-modal slide-in-fwd-center" id="modal<%= bottle.id %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" data-backdrop="false">
  <div type="button" class="close modal-close" data-dismiss="modal" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </div>

  <div class="modal-dialog" role="document">


    <div class="modal-content bottle-modal-content">
      <div class="bottle-modal-header">
      </div>
      <div class="modal-body">

            <div class="piquette-card-title">
              <h3><%= bottle.title.capitalize %> <%= bottle.year %></h3>
              <h4><%= bottle.winery.name.upcase%></h4>
              <p><%= bottle.region.name%></p>
            </div>

            <div class="piquette-card-content">

              <div class="piquette-modal-content-item">
                <p><strong>Couleur</strong></p>
                <div class="piquette-card-content-item-color <%= bottle.color.name %>"></div>
              </div>

              <div class="piquette-modal-content-item">
                <p><strong>Apogée</strong></p>
                <p><%= bottle.best_after %></p>
                <p><%= bottle.best_before %></p>
              </div>

              <div class="piquette-modal-content-item">
                <p><strong>Contenance</strong></p>
                <p>75cl</p>
              </div>

            </div>

            <div class="piquette-modal-advice">

              <% if bottle.grapes %>
                <div class="piquette-modal-content">
                  <p><strong>Cépages</strong></p>
                  <p><%= bottle.grapes %></p>
                </div>
              <% end %>

              <% if bottle.tasting_advice %>
                <div class="piquette-modal-content">
                  <p><strong>Conseils de dégustation</strong></p>
                  <p><%= bottle.tasting_advice %></p>
                </div>
              <% end %>

              <% if bottle.wine_pairing %>
                <div class="piquette-modal-content">
                  <p><strong>Accords mets-vins</strong></p>
                  <p><%= bottle.wine_pairing %></p>
                </div>
              <% end %>

            </div>

        </div>

      </div>


    </div>

  </div>

<% end %>
<% end %>
