<h1>Recommendations</h1>
<div>
  <% @bottles.each do |bottle| %>
  <button type="button" data-toggle="modal" data-target="#modal<%= bottle.id %>">

    <div class="card_user_bottle_index <%= bottle.color.name %>">

      <div class="content_card_user_bottle_index">

        <div class="title_card_user_bottle_index">
          <h5><%= bottle.title.capitalize %></h5>
        </div>

        <div class="desc_card_user_bottle_index">
          <p><%= bottle.designation.capitalize%></p>
        </div>
        <div class="footer_card_user_bottle_index">
          <div class="year_card_user_bottle_index">
            <p><i class="far fa-calendar-alt"></i>  <%= bottle.year%></p>
          </div>

          <% if bottle.best_after > Date.today.year%>
            <div class="keep_card_user_bottle_index">
              <p><i class="far fa-check-square"></i>  A boire</p>
            </div>
          <% else %>
            <div class="keep_card_user_bottle_index">
              <p><i class="far fa-check-square"></i>  A garder</p>
            </div>
          <% end %>
        </div>

      </div>
    </div>

  </button>
</div>

<!-- MODALE // NE PAS TOUCHER -->

<div class="modal bottle-modal slide-in-fwd-center" id="modal<%= bottle.id %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog bottle-modal-dialog" role="document">
    <div class="modal-content bottle-modal-content">
      <div class="bottle-modal-header">
        <h5 class="modal-title" id="exampleModalLabel">
          <%= bottle.title %>
          <span><i class="far fa-heart add-wish"></i></span>
          <span><i class="fas fa-heart delete-wish"></i></span>
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="bottle-modal-top">
          <div class="bottle-modal-photo">
            <%= cl_image_tag bottle.photo, height: 100, crop: :fill %>
          </div>
          <div class="bottle-modal-primary-infos">
            <p><strong> <%= bottle.winery.name %></strong></p>
            <p><%= bottle.year %></p>
            <p><%= bottle.region.name %></p>
            <p>Bio : <%= bottle.bio %></p>
          </div>
        </div>
        <div class="bottle-modal-advice">
          <div class="bottle-modal-desc">
            <p>Apogée : <%= bottle.best_after %> - <%= bottle.best_before %></p>
            <p><%= bottle.tasting_advice %></p>
          </div>
          <div class="bottle_modal_wine_pairing">
            <p><%= bottle.wine_pairing %></p>
          </div>
        </div>
      </div>
      <div class="bottle-modal-cta">
        <button type="button" class="btn btn-primary"> + ma cave </button>
      </div>
    </div>
  </div>
</div>

<% end %>
