<div class="title-header-container">
  <div class="title-header">
    <h1>Suggestions</h1>
  </div>
</div>
<div>
  <% @bottles.each do |bottle| %>
  <button type="button" data-toggle="modal" data-target="#modal<%= bottle.id %>">

    <div class="card_user_bottle_index <%= bottle.color.name %>">

      <div class="content_card_user_bottle_index">

        <div class="title_card_user_bottle_index">
          <h5><%= bottle.title.capitalize %></h5>
        </div>

        <div class="desc_card_user_bottle_index">
          <p><%= bottle.winery.name.capitalize%></p>
        </div>
        <div class="footer_card_user_bottle_index">
          <div class="year_card_user_bottle_index">
            <p><i class="far fa-calendar-alt"></i>  <%= bottle.year%></p>
          </div>

          <% if bottle.best_after > Date.today.year%>
            <div class="keep_card_user_bottle_index">
              <p><i class="far fa-check-square"></i>  A boire</p>
            </div>
          <% else %>
            <div class="keep_card_user_bottle_index">
              <p><i class="far fa-check-square"></i>  A garder</p>
            </div>
          <% end %>

          <%= render 'wishes/heart_button', bottle: bottle %>
        </div>

      </div>
    </div>

  </button>
</div>

<!-- MODALE // NE PAS TOUCHER -->

<div class="modal bottle-modal slide-in-fwd-center" id="modal<%= bottle.id %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" data-backdrop="false">
  <div class="modal-dialog bottle-modal-dialog" role="document">


    <div class="modal-content bottle-modal-content">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <div class="bottle-modal-header">

        <h3 class="modal-title" id="exampleModalLabel">
          <%= bottle.title %>
        </h3>
        <div class="bottle-modal-photo">
          <%= cl_image_tag bottle.photo, height: 100, crop: :fill %>
        </div>
      </div>
      <div class="display-photo"><</div>
      <div class="bottle-modal-primary-infos">
            <p><strong> <%= bottle.winery.name %></strong></p>
            <p><i class="far fa-calendar-alt"></i>    <%= bottle.year %></p>
            <p><i class="fas fa-globe-americas"></i>    <%= bottle.region.name %></p>
<!--             <p>Bio : <%= bottle.bio %></p> -->
          </div>


      <div class="year-back">
        <h2><%= bottle.color.name.downcase %></h2>
      </div>

    </div>
  </div>
</div>

<% end %>
