
<div class="form-wrapper">

  <div class="search-form-item first-div-margin">
    <h2>Couleur ?</h2>
    <form action="" method="get" class='buy'>
      <div data-aos="fade-up"
       data-aos-duration="1000" class="form-container highlight">
        <input type="radio" name="color" value="Rouge" id="color_red">
        <label id="ans-one" for="color_red" class="Rouge color-item">
        </label>
        <input type="radio" name="color" value="Blanc" id="color_white">
        <label id="ans-one" for="color_white" class="Blanc color-item">
        </label>
        <input type="radio" name="color" value="Rose" id="color_rose">
        <label id="ans-one" for="color_rose" class="Rose color-item">
        </label>
        <input type="radio" name="color" value="Effervescent" id="color_sparkling">
        <label id="ans-one" for="color_sparkling" class="Effervescent color-item">
        </label>
        <input type="radio" name="color" value="all" id="color_all">
        <label id="ans-one" for="color_all" class="all-btn bloup">
          <h3>Peu importe</h3>
        </label>
        <a id="two"></a>
      </div>
    </div>


  <div class="search-form-item">
    <div class="two"></div>
    <h2 class="search-margin">Occasion ?</h2>
    <div data-aos="fade-up"
     data-aos-duration="1000" class="form-container">
      <input type="radio" name="pairing" value="apéritif" id="pairing_apero">
      <label id="ans-two" for="pairing_apero" class="picto-item">
          <%= image_tag('cheers') %>
      </label>
      <input type="radio" name="pairing" value="viande rouge" id="pairing_viandes-rouges">
      <label id="ans-two" for="pairing_viandes-rouges" class="picto-item">
          <%= image_tag('beef') %>
      </label>
      <input type="radio" name="pairing" value="viande blanche" id="pairing_viandes-blanches">
      <label id="ans-two" for="pairing_viandes-blanches" class="picto-item">
          <%= image_tag('roast-chicken') %>
      </label>
      <input type="radio" name="pairing" value="poisson" id="pairing_poissons">
      <label id="ans-two" for="pairing_poissons" class="picto-item">
          <%= image_tag('fish') %>
      </label>
      <input type="radio" name="pairing" value="fromage" id="pairing_fromages">
      <label id="ans-two" for="pairing_fromages" class="picto-item">
          <%= image_tag('cheese') %>
      </label>
      <input type="radio" name="pairing" value="dessert" id="pairing_dessert">
      <label id="ans-two" for="pairing_dessert" class="picto-item">
          <%= image_tag('cake') %>
      </label>
    </div>
  </div>


  <div class="search-form-item">
    <div class="three"></div>
      <h2 class="search-margin">Bio ?</h2>
    <div data-aos="fade-up"
     data-aos-duration="1000" class="form-container">
      <input type="radio" name="bio" value="true" id="bio_true">
      <label id="ans-three" for="bio_true" class="picto-item"><i class="fas fa-check"></i></label>
      <input type="radio" name="bio" value="false" id="bio_false">
      <label id="ans-three" for="bio_false" class="picto-item"><i class="fas fa-times"></i></label>
      <input type="radio" name="bio" value="all" id="bio_all">
      <label id="ans-three" for="bio_all" class="all-btn">Peu importe</label>
    </div>
  </div>


  <div class="search-form-item">
    <div class="four"></div>
    <h2 class="search-margin" >Pour quand ?</h2>
    <div data-aos="fade-up"
     data-aos-duration="1000" class="form-container">
      <input type="radio" name="garder" value="true" id="garder_true">
      <label id="ans-four" for="garder_true">A garder</label>
      <input type="radio" name="garder" value="false" id="garder_false">
      <label id="ans-four" for="garder_false">A boire</label>
      <input type="radio" name="garder" value="all" id="garder_all">
      <label id="ans-four" for="garder_all" class="all-btn">Peu importe</label>
    </div>
  </div>


  <div class="search-form-item">
    <div class="five"></div>
    <h2 class="search-margin" >Prix max ?</h2>
    <div data-aos="fade-up"
     data-aos-duration="1000" class="form-container">
      <div class="price-range"><h3 id='target' style=" font-size: 40px; font-weight: bold"></h3></div>
      <br>
      <%= range_field_tag 'price', nil,  min: 7, max: 59, step: 1 %>
      <br>
     </div>
    <div data-aos="fade-up"
     data-aos-duration="1000" class="form-container">
      <input type="submit" value="Voir les résultats" class="search-confirm-btn bloup">
    </div>
  </div>

  </form>
</div>

