<div>
  <% @user_bottles.each do |user_bottle| %>
    <button type="button" data-toggle="modal" data-target="#modal<%= user_bottle.id %>">

    <div class ='card_user_bottle_index row '>

      <%#if user_bottle.photo.present? %>

        <div class='card__user_bottle_index_photo col-xs-4 text-center'>
          <%# image_tag user_bottle.photo  %>
        </div>
        <div class='card__user_bottle_index_title col-xs-4 text-center'>
          <%= user_bottle.bottle.title.capitalize %>
        </div>
        <div class='card__user_bottle_index_description col-xs-4 text-center'>
          quantité:<%= user_bottle.quantity %>
          provenance: <span>  <%= user_bottle.bottle.region.name.capitalize %>
          </span>
        </div>
    </div>

    <%# else %>
    <div class='card__user_bottle_index_title_no_photo'>
      <%#= user_bottle.bottle.title %>
    </div>
    <div class='card__user_bottle_index_description_no_photo'> <%#= user_bottle.bottle.quantity %>
      <%#= #user_bottle.bottle.region %>
    </div>
    </button>
</div>


<!-- <a href="/bottles/1">Titre de la bouteille</a>
<a href="<%#= bottle_path(user_bottle.bottle) %>"><%#= user_bottle.bottle.title %></a>

<%#= link_to user_bottle.bottle.title, bottle_path(user_bottle.bottle) %> -->

<div class="modal fade" id="modal<%= user_bottle.id %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel"><%= user_bottle.bottle.title %></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

<% end %>
