
<div class="title-header-container">
  <div class="title-header">
    <h1>Ma<br>cave</h1>
  </div>
</div>

<div  id="search-btn">
  <i class="fas fa-search" style="font-size: 30px"></i>
  <br>
</div>
<div class="search-bar hidden-search">
  <div class='search-field'>
    <%= form_tag user_bottles_path, method: :get do %>
      <%= text_field_tag :query,
        params[:query],
        class: "form-control",
        placeholder: "Recherche par région"
      %>
    <% end %>
  </div>

  <div class='filters'>
    <% if params[:color] == 'rouge' %>
      <%= link_to user_bottles_path do %>
        <button class='search-btn' id='all'></button>
      <% end %>
      <%= link_to user_bottles_path(color: "rouge") do %>
        <button class='search-btn active' id='rouge-btn'></button>
      <% end %>
      <%= link_to user_bottles_path(color: "blanc") do %>
        <button class='search-btn' id='blanc-btn'></button>
      <% end %>
      <%= link_to user_bottles_path(color: "rose") do %>
        <button class='search-btn' id='rose-btn'></button>
      <% end %>
    <% elsif params[:color] == 'blanc' %>
      <%= link_to user_bottles_path do %>
        <button class='search-btn' id='all'></button>
      <% end %>
      <%= link_to user_bottles_path(color: "rouge") do %>
        <button class='search-btn' id='rouge-btn'></button>
      <% end %>
      <%= link_to user_bottles_path(color: "blanc") do %>
        <button class='search-btn active' id='blanc-btn'></button>
      <% end %>
      <%= link_to user_bottles_path(color: "rose") do %>
        <button class='search-btn' id='rose-btn'></button>
      <% end %>
    <% elsif params[:color] == 'rose' %>
      <%= link_to user_bottles_path do %>
        <button class='search-btn' id='all'></button>
      <% end %>
      <%= link_to user_bottles_path(color: "rouge") do %>
        <button class='search-btn' id='rouge-btn'></button>
      <% end %>
      <%= link_to user_bottles_path(color: "blanc") do %>
        <button class='search-btn' id='blanc-btn'></button>
      <% end %>
      <%= link_to user_bottles_path(color: "rose") do %>
        <button class='search-btn active' id='rose-btn'></button>
      <% end %>
    <% else %>
      <%= link_to user_bottles_path do %>
        <button class='search-btn' id='all'></button>
      <% end %>
      <%= link_to user_bottles_path(color: "rouge") do %>
        <button class='search-btn' id='rouge-btn'></button>
      <% end %>
      <%= link_to user_bottles_path(color: "blanc") do %>
        <button class='search-btn' id='blanc-btn'></button>
      <% end %>
      <%= link_to user_bottles_path(color: "rose") do %>
        <button class='search-btn' id='rose-btn'></button>
      <% end %>
    <% end %>
  </div>
</div>

<div class="container_user_bottle_index">

  <% @user_bottles_list.each do |user_bottle| %>
    <button type="button" data-toggle="modal" data-target="#modal<%= user_bottle.id %>">

      <!-- problem -->
      <div class="title_card_user_bottle_index">
        <h5><%= user_bottle.title.capitalize %></h5>
        <div class="quantity_card_user_bottle_index">
          <p><%= UserBottle.find_by(bottle_id: user_bottle.id).quantity %> <i class="fas fa-wine-bottle picto-bottle-index"></i></p>
        </div>
      </div>

      <div class="card_user_bottle_index <%= user_bottle.color.name %> slide-in-left">
        <div class="title_card_user_bottle_index">
          <h5><%= user_bottle.title.capitalize %></h5>
        </div>

        <div class="desc_card_user_bottle_index">
          <p><%= user_bottle.winery.name.capitalize%></p>
        </div>
        <div class="footer_card_user_bottle_index">
          <div class="year_card_user_bottle_index">
            <p><i class="far fa-calendar-alt"></i>  <%= user_bottle.year%></p>
          </div>

          <% if user_bottle.best_after > Date.today.year%>
            <div class="keep_card_user_bottle_index">
              <p><i class="far fa-check-square"></i>  A boire</p>
            </div>
          <% else %>
            <div class="keep_card_user_bottle_index">
              <p><i class="far fa-check-square"></i>  A garder</p>
            </div>
          <% end %>
        </div>
      </div>
    </button>
</div>


<!-- <a href="/bottles/1">Titre de la bouteille</a>
<a href="<%#= bottle_path(user_bottle.bottle) %>"><%#= user_bottle.bottle.title %></a>

<%#= link_to user_bottle.bottle.title, bottle_path(user_bottle.bottle) %> -->

<div class="modal bottle-modal slide-in-fwd-center" id="modal<%= user_bottle.id %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" data-backdrop="false">
  <div class="modal-dialog bottle-modal-dialog" role="document">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
    <div class="modal-content bottle-modal-content">
      <div class="bottle-modal-header">
        <h5 class="modal-title" id="exampleModalLabel">
          <%= user_bottle.title %>
        </h5>

      </div>
      <div class="modal-body">
        <div class="bottle-modal-top">
          <div class="bottle-modal-photo">
            <%= cl_image_tag user_bottle.photo, height: 100, crop: :fill %>
          </div>
          <div class="bottle-modal-primary-infos">
            <p><strong> <%= user_bottle.winery.name %></strong></p>
            <p><%= user_bottle.year %></p>
            <p><%= user_bottle.region.name %></p>
            <p>Bio : <%= user_bottle.bio %></p>
          </div>
        </div>
        <div class="bottle-modal-advice">
          <div class="bottle-modal-desc">
            <p>Apogée : <%= user_bottle.best_after %> - <%= user_bottle.best_before %></p>
            <p><%= user_bottle.tasting_advice %></p>
          </div>
          <div class="bottle_modal_wine_pairing">
            <p><%= user_bottle.wine_pairing %></p>
          </div>
        </div>
      </div>
      <div class="bottle-modal-cta">
        <%= link_to new_bottle_review_path(user_bottle) do %>
          <button class="btn btn-primary">Ajouter une review</button>
        <% end %>
      </div>
    </div>
  </div>
</div>

<% end %>

