<div class="title-header-container">
  <div class="title-header">
    <h2></h2>
  </div>

</div>
<div class='cellar-card'>
  <p>MA CAVE</p>

<!--   <div class='home-cellar-picto'>
    <div class='home-picto-glass'>
      <i class="fas fa-wine-glass"></i>
    </div> -->
    <% if current_user %>
    <%= @user_bottles %>

    <div style="width: 200px; height: 200px">
      <canvas id='bottle_lines' data-line='<%=@boire%>,<%=@garder%>, <%=@trop_vieux%>'></canvas>
    </div>

      <div class="xx-nbr_bottle">
           <div class="xx-bottle-home ">
            <div class="xx-bottle-home-top flex-centerer">
              <h3>
                <%= @user_red_bottles %>
                x
                <i class="fas fa-wine-bottle picto-bottle-home"></i>
              </h3>
            </div>
            <div class="xx-bottle-home-bottom flex-centerer">
                <div>rouge</div>
            </div>
           </div>

           <div class="xx-bottle-home ">
            <div class="xx-bottle-home-top flex-centerer">
              <h3>
                <%= @user_yellow_bottles %>
                x
                <i class="fas fa-wine-bottle picto-bottle-home"></i>
              </h3>
            </div>
            <div class="xx-bottle-home-bottom flex-centerer">
                <div>blanc</div>
            </div>
           </div>
           <div style="width: 100px; height: 100px">
              <canvas id='bottle_charts' width="100" height="100" data-wine='<%=@user_red_bottles%>, <%=@user_yellow_bottles%>,<%=@user_pink_bottles%>, <%=@user_champ_bottles%> '>
              </canvas>
           </div>



           <div class="xx-bottle-home ">
            <div class="xx-bottle-home-top flex-centerer">
              <h3>
                <%= @user_pink_bottles %>
                x
                <i class="fas fa-wine-bottle picto-bottle-home"></i>
              </h3>
            </div>
            <div class="xx-bottle-home-bottom flex-centerer">
                <div>rosé</div>
            </div>
           </div>

           <div class="xx-bottle-home ">
            <div class="xx-bottle-home-top flex-centerer">
              <h3>
                <%= @user_champ_bottles %>
                x
                <i class="fas fa-wine-bottle picto-bottle-home"></i>
              </h3>
            </div>
            <div class="xx-bottle-home-bottom flex-centerer">
                <div>pétillant</div>
            </div>

           </div>
      </div>

      </div>
    <% else %>
      <p>Ta cave est vide.</p>
    <% end %>

    <!-- <div class='total_bottle'>
      <p>Total </p>
      <h3><%#= @user_bottles %></h3>
      <p> x </p>
      <i class="fas fa-wine-bottle"></i>
    </div> -->

  <!-- </div> -->
  <%= link_to "", user_bottles_path, class:'card-link' %>
</div>

<div class='reco-card'>
  <p>JE NE SAIS PAS QUOI BOIRE</p>
  <%= link_to "", search_path, class:'card-link-btn' %>
</div>

<!-- <div class='review-card'>
  <p>MES DEGUSTATIONS</p>
  <%= link_to "", reviews_path, class:'card-link' %>
</div> -->
