<div class="review-form-container">
  <div class="title-header-container">
    <div class="title-header">
      <h1>Log in</h1>
    </div>
  </div>
  <div class="new-review-container">
    <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="form-inputs", style='color: white;'>
        <%= f.input :email,
                    required: false,
                    autofocus: true,
                    input_html: { autocomplete: "email" } %>
        <%= f.input :password,
                    required: false,
                    input_html: { autocomplete: "current-password" } %>
        <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
      </div>

      <div class="form-actions" >
        <%= f.button :submit, "Log in", style:'width: 90%;
  font-weight: bold;
  margin: 5vw;
  display: flex;
  justify-content: space-around;
  color: white;
  font-family: $headers-font;
  font-size: 24px;
  background: linear-gradient(108.27deg, #FFAF00 17.42%, #FFC850 88.86%);
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.25);
  border-radius: 7px;
  padding: 15px 20px;
  font-family: $headers-font !important;
  font-size: 25px;' %>
      </div>
    <% end %>
    <%= link_to new_user_registration_path do %>
      <div class="bottle-modal-cta bloup">
        <div>Première visite ?</div>
      </div>
    <% end %>
  </div>
</div>

<%#= render "devise/shared/links" %>
