
<div class="modal bottle-modal slide-in-fwd-center" id="modal<%= review.id %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" data-backdrop="false">
  <div type="button" class="close modal-close" data-dismiss="modal" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </div>

  <div class="modal-dialog" role="document">


    <div class="modal-content bottle-modal-content">
      <div class="bottle-modal-header">
      </div>
        <div class="modal-body">

          <div class="piquette-card-title">
            <h3><%= review.bottle.title.capitalize %> <%= review.bottle.year %></h3>
            <h4><%= review.bottle.winery.name.upcase%></h4>
            <p><%= review.bottle.region.name%></p>
          </div>

          <div class="piquette-card-content">

            <div class="piquette-modal-content-item">
              <p><strong>Couleur</strong></p>
              <div class="piquette-card-content-item-color <%= review.bottle.color.name %>"></div>
            </div>

            <div class="piquette-modal-content-item">
              <p><strong>Apogée</strong></p>
              <p><%= review.bottle.best_after %></p>
              <p><%= review.bottle.best_before %></p>
            </div>

            <div class="piquette-modal-content-item">
              <p><strong>Contenance</strong></p>
              <p>75cl</p>
            </div>


          </div>

            <div class="piquette-modal-advice">

              <% if review.bottle.grapes %>
                <div class="piquette-modal-content">
                  <p><strong>Cépages</strong></p>
                  <p><%= review.bottle.grapes %></p>
                </div>
              <% end %>

              <% if review.bottle.tasting_advice %>
                <div class="piquette-modal-content">
                  <p><strong>Conseils de dégustation</strong></p>
                  <p><%= review.bottle.tasting_advice %></p>
                </div>
              <% end %>

              <% if review.bottle.wine_pairing %>
                <div class="piquette-modal-content">
                  <p><strong>Accords mets-vins</strong></p>
                  <p><%= review.bottle.wine_pairing %></p>
                </div>
              <% end %>

            </div>
        </div>
      </div>

      <div class="modal-content review-modal-content">
        <div class="review-modal-body">

          <div class="piquette-modal-review-comment">
            <p><%= review.tasting_date.strftime("%m %B %Y") %></p>
          </div>

          <div class="piquette-modal-review-rating">
            <% review.rating.times do %>
              <i class="fas fa-star"></i>
            <% end %>
            <%  (5 - review.rating).times do %>
              <i class="far fa-star"></i>
            <% end %>
          </div>

          <div class="piquette-modal-review-comment">
            <p><em>" <%= review.comment %> "</em></p>
          </div>

        </div>
      </div>


    </div>

  </div>
</div>
