<h1>Nouvelle dégustations</h1>

  <%= simple_form_for [@bottle, @review] do |f| %>

    <%= f.input :rating, collection: 0..5 %>
    <%= f.input :comment %>
    <%= f.input :tasting_date, as: :string, required: true, input_html: {class: "datepicker"} %>

    <%= f.submit %>
  <% end %>
