
<div class="title-header-container">
  <div class="title-header">
    <h1>Nouvelle<br>dégustation</h1>
  </div>
</div>
<div class="new-review-container">
  <%= simple_form_for [@bottle, @review] do |f| %>

    <%= f.input :rating, collection: 0..5 %>
    <%= f.input :comment %>
    <%= f.input :tasting_date, as: :string, required: true, input_html: {class: "datepicker"} %>

    <%= f.submit %>
  <% end %>
</div>
